<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>map</key>
			<string>level_1.map</string>
			<key>backgroundMusic</key>
			<string>background_1.wav</string>
			<key>backgroundThumb</key>
			<string>level_1_thumb.png</string>
			<key>pushEffect</key>
			<string>push_box.wav</string>
			<key>winEffect</key>
			<string>win.wav</string>
		</dict>
		<dict>
			<key>level</key>
			<integer>2</integer>
			<key>map</key>
			<string>level_2.map</string>
			<key>backgroundMusic</key>
			<string>background_2.wav</string>
			<key>backgroundThumb</key>
			<string>level_2_thumb.png</string>
			<key>pushEffect</key>
			<string>push_box.wav</string>
			<key>winEffect</key>
			<string>win.wav</string>
		</dict>
		<dict>
			<key>level</key>
			<integer>3</integer>
			<key>map</key>
			<string>level_3.map</string>
			<key>backgroundMusic</key>
			<string>background_3.wav</string>
			<key>backgroundThumb</key>
			<string>level_3_thumb.png</string>
			<key>pushEffect</key>
			<string>push_box.wav</string>
			<key>winEffect</key>
			<string>win.wav</string>
		</dict>
		<dict>
			<key>level</key>
			<integer>4</integer>
			<key>map</key>
			<string>level_4.map</string>
			<key>backgroundMusic</key>
			<string>background_4.wav</string>
			<key>backgroundThumb</key>
			<string>level_4_thumb.png</string>
			<key>pushEffect</key>
			<string>push_box.wav</string>
			<key>winEffect</key>
			<string>win.wav</string>
		</dict>
	</array>
</dict>
</plist>
